[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
.idea/
.vs/
*.user
*.userosscache
*.sln.docstates
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c
project.lock.json
project.fragment.lock.json
artifacts/
docker-compose.yml
docker-compose.*.yml
Dockerfile*
.dockerignore
.git
.gitignore
.github/
*.swp
*.*~
*~
.DS_Store